Options +FollowSymLinks
RewriteEngine On
RewriteRule ^videoresults.php$ http://imag-uana.rhcloud.com/videoresults [R=301,L]
RewriteRule ^imageresults.php$ http://imag-uana.rhcloud.com/image/results [R=301,L]
RewriteRule ^index.php$ http://imag-uana.rhcloud.com [R=301,L]
RewriteRule ^faq.php$ http://imag-uana.rhcloud.com/FAQ [R=301,L]
RewriteRule ^purchases.php$ http://imag-uana.rhcloud.com/purchases [R=301,L]
RewriteRule ^purchases.php$ http://imag-uana.rhcloud.com/purchases [R=301,L]
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $0#%{REQUEST_URI} ([^#]*)#(.*)\1$
RewriteRule ^.*$ %2controller.php [QSA,L]
